.games {
    max-width: 60rem;
    width: 90%;
    margin: 2rem auto;
    animation: games-appear 1s ease-out forwards;
  }
  
  .games__button{
    cursor: pointer;
    font: inherit;
    border: none;
    background-color: #262421;
  }
  
  
  .games__label{
    display: flex;
  }
  .games__label h1{
    padding-left: 6rem;
  }
  .games__header{
    display: flex;
    justify-content: space-around;
  }
  
  .games__header_game_id{
    width: 1rem;
    text-align: left;
  }
  
  .games__header_game_player{
    width: 6rem;
    text-align: center;
  }
  
  .games__header_game_state{
    width: 3rem;
    text-align: center;
  }
  
  .games ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  @keyframes games-appear {
    from {
      opacity: 0;
      transform: translateY(3rem);
    }
  
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }