.user_item{
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid #6b6464;
    background-color: #323131;
}

.user_item__user_name{
    width: 6rem;
    text-align: left;
}

.user_item__rating{
    width: 3rem;
    text-align: center;
}

.user_item__game_count{
    width: 1rem;
    text-align: center;
}

.user_item:hover{
    background-color: #23272f;
}